body {
  margin: 0;
  background: #fff;
  font: 300 1rem/1.5 'Spoqa Hans Sans', sans-serif;
}

.a11yHidden {
  overflow: hidden;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: circle(0);
  width: 1px;
  height: 1px;
  margin: -1px;
  white-space: nowrap;
}

caption.a11yHidden {
  position: static;
}

.a11yHidden.focusable:focus {
  overflow: initial;
  position: static;
  clip: auto;
  clip-path: unset;
  width: initial;
  height: initial;
  margin: initial;
  white-space: initial;
}

.box {
  position: absolute;
  width: 600px;
  height: 240px;
  overflow: hidden;
  border: 8px solid currentColor;
  padding: 30px;
}

.openDialogButton {
  cursor: pointer;
  border: 0;
  padding: 10px;
  background: #131313;
  color: #fff;
}

.openDialogButton svg {
  fill: currentColor;
}

.openDialogButton:focus {
  outline: none;
  box-shadow: 0 0 0 5px #009cc1;
}