@import url("./normalize.min.css");

:root {
  font-size: 10px;
  box-sizing: border-box;
}

body,
body *,
body::before,
body::after,
body *::before,
body *::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  font: 1.6rem/1.5 "Spoqa Han Sans Neo", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
}

img {
  vertical-align: middle;
}

button {
  cursor: pointer;
}

button svg {
  pointer-events: none;
}

abbr[title] {
  cursor: help;
  text-decoration: none;
}