.component {
  display: flex;
  flex-flow: column;
  max-width: 1400px;
  margin: 0 auto;
}

.title {
  margin-top: 1.6rem;
  font-size: 1.6rem;
}

.list {
  display: flex;
  flex-flow: column;
}

.list > * {
  flex: 1;
}


@media (min-width: 64em) {  
  .list {
    flex-flow: row;
  }
}