.headline {
  margin: 40px 0 22px 16px;
  line-height: 1;
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 900;
}

.SK {
  display: block;
  margin-right: 0.25em;
  color: #de071a;
}

.title {
  color: #fc6620;
}

@media (min-width: 40em /* 640px */) {
  .SK {
    display: inline;
  }
}