.modalDialog .content {
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 140px;
  padding: 2rem;
  background: #fefefe;
  color: #121212;
  transform: translate(-50%, -50%);
}

.modalDialog .content:focus {
  outline: 3px solid rgba(249, 0, 0, 0.6);
}

.modalDialog .content * {
  margin: 0;
}

.modalDialog .closeDialogButton {
  cursor: pointer;
  position: absolute;
  z-index: 200;
  top: 20px;
  right: 20px;
  border: 0;
  padding: 10px;
  background: transparent;
  color: #fefefe;
}

.modalDialog .closeDialogButton:focus {
  outline: none;
  box-shadow: 0 0 0 5px #009cc1;
}

.modalDialog .closeDialogButton svg {
  fill: currentColor;
}

.modalDialog .dim {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(36, 36, 36, 0.8);
  backdrop-filter: blur(2px);
}